<% provide(:title, "Overview") %>
<!--<div class="alert alert-info" role="alert">
	<form class="form-inline" role="form">
	  <div class="form-group">
	  	Subscribe and be informed as soon as new opportunities become available:
	    <div class="input-group input-email">
	      <div class="input-group-addon">@</div>
	      <input class="form-control" type="email" placeholder="Enter email">
	    </div>
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>-->
<% if user_signed_in? %>
	<div class="container">
		<div class="col-xs-12">
			<% if @flies.empty? %>
				<div class="alert alert-warning" role="alert">
					Currently no opportunities were found given your information.
					<%= link_to "Edit your information", edit_user_registration_path %>
				</div>
			<% else %>
				<table class="table lighter">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>Opportunity</th>
							<th>Posting Date</th>
							<th>Posting Expiry</th>
							<th>Recent Position(s)</th>
						</tr>
					</thead>
					<% @flies.each do |fly| %>
					<tr>
						<td><%= image_tag("boarding.gif", class: "boarding") if fly.airline.has_active_recruitment? %></td>
						<td><%= image_tag fly.airline.logo, class: "airline-table-logo" %></td>
						<td><%= link_to fly.name, airline_fly_path(fly.airline, fly) %></td>
						<td><%= fly.posting_date_as_string %></td>
						<td><%= fly.posting_expiry_as_string %></td>
						<td></td>
					</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="container">
		<div class="col-xs-12">
			<p>SHOW HOMEPAGE</p>
		</div>
	</div>
<% end %>