<% provide(:title, "Opportunities") %>
<div class="container">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Airlines</th>
					<th>Opportunity</th>
					<th>Base</th>
				</tr>
			</thead>
			<% @flies.each do |fly| %>
				<tr>
					<td><%= display_image fly.airline.logo %></td>
					<td><%= link_to fly.airline.name, airline_path(fly.airline) %></td>
					<td><%= link_to fly.name, airline_fly_path(fly.airline, fly) %></td>
					<td><%= fly.base %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<%= bts_will_paginate(@flies) %>