<% provide(:title, "Opportunities") %>
<div class="container">
	<div class="col-xs-12">

		<% if !user_signed_in? %>
			<div class="panel panel-default">
				<div class="panel-body">
					Too many jobs to sift through? Find jobs that you can apply for right now.
					<%= link_to "Sign up", new_user_registration_path %>, it'll only take you a minute.
				</div>
			</div>
		<% end %>

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Airline</th>
					<th>Opportunity</th>
					<th>Base</th>
					<th>Posted</th>
				</tr>
			</thead>
			<% @flies.each do |fly| %>
				<tr>
					<td><%= display_image fly.airline.logo %></td>
					<td><%= link_to fly.airline.name, airline_path(fly.airline) %></td>
					<td><%= link_to fly.name, airline_fly_path(fly.airline, fly) %></td>
					<td><%= fly.base %></td>
					<td><%= "#{time_ago_in_words(fly.created_at)} ago" %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<%= bts_will_paginate(@flies) %>