<% provide(:title, "My JobBoard") %>
<div class="search-bar">
	<div class="container">
		<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
			<%= form_for board_path, method: 'get', html: { id: "jobs-search" } do %>
				<%= text_field_tag :search, params[:search], class: "form-control search-input", 
				placeholder: 'i.e. "Empire Airlines", "First Officer" or "Cessna 208"' %>
				Search <em><%= @jobs.count %> pilot jobs</em> you are currently eligible for
			<% end %>
		</div>
	</div>
</div>

<%= render "layouts/flash_messages" %>

<div class="container">
	<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
		<h3>Welcome to your personal JobBoard</h3>
	</div>
</div>

<div class="container">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Airline</th>
					<th>Opportunity</th>
					<th>Posted</th>
				</tr>
			</thead>
			<tbody id="jobs">
				<%= render "shared/jobs" %>
			</tbody>
		</table>

		<%= render "shared/board_notice" %>

		<table class="table added-jobs-table">
			<tbody id="added-jobs"></tbody>
		</table>

		<%= bts_will_paginate(@jobs, {endless: true}) %>
	</div>
</div>
