<% provide(:title, "Register") %>

<div class="top-section">
  <div class="container">
    <div class="col-xs-12">
      <h2>Sign up</h2>
      <p>Filling out all this information will allow us to accurately match you with a vast amount of pilot opportunities out there.</p>
    </div>
  </div>
</div>

<%= render partial: "shared/form_errors" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="section-1">
  <div class="container">
    <div class="col-xs-12 section-1-wrapper">

      <h4>General</h4>

      <%= render partial: "basics", locals: { f:f } %>

      <div class="row standard-margin">
        <div class="col-md-4 col-xs-12">
          <%= render partial: "shared/text_field", 
            locals: { 
              f: f, 
              method: :full_name, 
              args: {
                placeholder: "Full Name", 
                errors: resource.errors.full_messages_for(:full_name), 
                label_class: "control-label" 
              } 
            } %>
          </div>

          <div class="col-md-4 col-xs-12">
            <%= render partial: "shared/text_field", 
            locals: { 
              f: f, 
              method: :nationality, 
              args: {
                placeholder: "List all of your nationalities", 
                errors: resource.errors.full_messages_for(:nationality), 
                label_class: "control-label" 
              } 
            } %>
          </div>

          <div class="col-md-4 col-xs-12">
            <%= render partial: "shared/text_field", 
            locals: { 
              f: f, 
              method: :language, 
              args: {
                placeholder: "Spoken languages", 
                errors: resource.errors.full_messages_for(:language), 
                label_class: "control-label" 
              } 
            } %>
        </div>
      </div>

      <div class="row standard-margin">
        <div class="col-md-4 col-xs-12">
          <%= f.label :birthdate %>
          <%= f.date_select :birthdate, {}, class: "form-control" %>
        </div>
      </div>

      <div class="checkbox standard-margin">
        <label>
          <%= f.check_box :high_school_diploma %> I have a high school diploma
        </label>
      </div>

      <div class="checkbox">
        <label>
          <%= f.check_box :post_secondary_degree %> I have a post secondary degree
        </label>
      </div>
    </div>
  </div>
</div>
  



<div class="section-2">
  <div class="container">
    <div class="col-xs-12 section-2-wrapper">

      <h4>Flight Time</h4>

      <p>Please enter all times in <em>decimal hours</em> (ie. 5.5, rather than 5:30)</p>

      <% User.flight_hour_types.each do |type, description| %>
        <div class="row standard-margin">
          <div class="col-md-3 col-xs-12">
            <%= label_tag type, description, class: "label-margin" %>
          </div>

          <div class="col-md-4 col-xs-12">
            <%= text_field_tag type, nil, class: 'form-control' %>
          </div>
        </div>
      <% end %>

      <% User.ratings.each do |type, description| %>
        <div class="checkbox standard-margin">
          <label>
            <%= check_box_tag type %><p><%= description %></p>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="section-3">
  <div class="container">
    <div class="col-xs-12 section-3-wrapper">

      <h4>Medical Information</h4>

      <div class="checkbox standard-margin">
        <label>
          <%= check_box_tag :license %><p><%= User.medical_information[:license] %></p>
        </label>
      </div>

    </div>
  </div>
</div>

<div class="section-4">
  <div class="container">
    <div class="col-xs-12 section-4-wrapper">

      <h4>Additional Information</h4>

      <% User.additional.each do |type, description| %>
        <div class="checkbox standard-margin">
          <label>
            <%= check_box_tag type %><p><%= description %></p>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>







    <div class="container"><div class="col-xs-12">

      <%= f.submit 'Sign Up', class: 'btn btn-default standard-margin' %>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
