<div class="background">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="col-xs-12">
	    <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <%= link_to "flightcrew.io", root_path, class: "navbar-brand" %>
	      </div>

	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	          <li><%= link_to "Home", root_path %></li>
	          <li><%= link_to "Login", new_user_session_path %></li>
	          <li><%= link_to "Register", new_user_registration_path %></li>
	          <li><%= link_to "Contact", static_pages_contact_path %></li>
	        </ul>
	      </div><!-- /.navbar-collapse -->
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>

	<footer class="footer">


				<div class="jumbotron">
					<h3>Pilot jobs from across the United States & Canada</h3>

					<p>
						Sign up with your current experience and flight hours and we will match you with opportunities across the continent. Updated daily.
					</p>


					<%= form_tag new_user_registration_path, method: :get, class: "form-inline email-form" do %>
						<%= text_field_tag "email", nil, class: "form-control email-field", placeholder: "E-Mail Address" %>
						<%= button_tag "Get started - free", name: nil, class: "btn btn-default" %>
					<% end %>

					<%= image_tag "landing_screen.png", class: "img-responsive" %>
				</div>	

	</footer>
</div>

<section id="overview">
	<div class="container">
		<div class="col-xs-12 col-md-4">
			<div class="offer-tile">
				<%= image_tag "file-text.svg", class: "offer-logo" %>
				<h3>JobBoard</h3>
				<p>Get an overview. We give an up-to-date list of all available jobs that match your criteria and requirements. Discuss opportunities with fellow applicants and share insights on the hiring process.</p>
			</div>
		</div>

		<div class="col-xs-12 col-md-4">
			<div class="offer-tile">
				<%= image_tag "envelop.svg", class: "offer-logo" %>
				<h3>JobPost</h3>
				<p>
					Receive updates. Once a week, you will receive an e-mail including all new opportunities that you are eligible for.
				</p>
				<p><em>Coming soon.</em></p>
			</div>
		</div>

		<div class="col-xs-12 col-md-4">
			<div class="offer-tile">
				<%= image_tag "earth.svg", class: "offer-logo" %>
				<h3>Worldwide</h3>
				<p>Constantly expanding. In the near future we are expanding outside of the United States and indexing opportunities from around the world.<!-- No pricing increase <em>ever</em> for early adopters.--></p>
			</div>
		</div>
	</div>
</section>



<section id="airlines">
	<div class="container">
		<div class="col-xs-12">
			<h2>Most recent additions to our database</h2>

			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Airline</th>
						<th>Opportunity</th>
						<th>Last updated</th>
					</tr>
				</thead>
				<tbody>
					<% @flies.each do |fly| %>
					<tr>
						<td><%= image_tag("boarding6.gif", class: "boarding") %></td>
						<td><%= display_image(fly.airline.logo) %></td>
						<td><%= link_to fly.airline.name, airline_path(fly.airline) %></td>
						<td><%= link_to fly.name, airline_fly_path(fly.airline, fly) %></td>
						<td><%= "#{time_ago_in_words(fly.updated_at)} ago" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</section>



<section id="showreel">
	<div class="container">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="showreel-wrapper">
				<div class="showreel-logo-wrapper">
					<%= image_tag "airplane.svg", class: "showreel-logo" %>
				</div>
				<p class="lead">
					flightcrew.io currently sports <em><%= @flies_count %> opportunities</em> from <em><%= @airlines_count %> airlines</em>
				</p>
				<p class="lead"><u>Airlines include</u></p>
				<% @airline_images.each do |image| %>
					<%= display_image image, "airline-heading-logo" %>
				<% end %>
				<p class="lead">and many more</p>
				<%= link_to "Try it free", new_user_registration_path, class: "btn btn-lg btn-danger" %>
			</div>
		</div>
	</div>
</section>

<div class="real-footer">
	<div class="container">
		<div class="col-xs-12">&copy; 2015 flightcrew.io - Background image courtesy of <a href="https://www.flickr.com/photos/canadaq200/">Devon Scott</a></div>
	</div>
</div>
