<% provide(:title, "Blog") %>
<%= render "header" %>

<%= render "layouts/flash_messages" %>

<div class="container blog-container">
	<div class="col-xs-12 col-md-6 col-md-offset-3">

		<% @blog_posts.each do |post| %>
			<div class="post">
				<h2><%= post.title %> <small><%= post.subtitle %></small></h2>
				<p class="post-info">Posted by <%= post.user.full_name %> on <%= header_time(post.created_at) %></p>

				<%= abbreviated_content(markdown(post.content)) %>

				<%= link_to "Read More", show_blog_post_path(post), class: "post-link" %>
			</div>
		<% end %>

		
	</div>
</div>	