<%= render "header" %>

<div class="container blog-container">
	<div class="col-xs-12 col-md-6 col-md-offset-3">

		<h1 class="text-center"><%= @blog_post.title %> <small><%= @blog_post.subtitle %></small></h1>
		<p class="post-info text-center">Posted by <em><%= @blog_post.user.full_name %></em> on <%= header_time(@blog_post.created_at) %></p>

		<%= markdown(@blog_post.content) %>

		<%= link_to "Back to Overview", blog_path, class: "post-link" %>

		<div id="disqus_thread"></div>
	  <script type="text/javascript">
	      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	      var disqus_shortname = 'cockpitcareers'; // required: replace example with your forum shortname

	      /* * * DON'T EDIT BELOW THIS LINE * * */
	      (function() {
	          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	      })();
	  </script>
	  <noscript>
	  	Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	  </noscript>
	</div>
</div>