<%= render "header" %>
<div class="container">
	<div class="col-xs-12">

		<h2>Admin Notices</h2>

		<% if @node_sets.any? %>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Airline</th>
						<th>Opportunity</th>
						<th>Scraped Page</th>
						<th>Status</th>
						<th>Scraped at</th>
						<th>Notice</th>
					</tr>
				</thead>
				<% @node_sets.each do |node_set| %>

					<% airline = node_set.airline %>
					<% parent = node_set.parent %>
					<% notice = parent.notice %>

					<tr class="<%= notice.status %>">
						<td>></td>
						<td><%= link_to(display_image(airline.logo), airline_path(airline)) %></td>

						<td><%= link_to airline.name, airline_path(airline) %></td>

						<td><%= link_to abbreviate(airline.recruitment_overview_page), airline.recruitment_overview_page %></td>

						<td><%= notice.status %></td>
						
						<td><%= notice.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:db) %></td>
						<td><%= '<span class="label label-danger">Content untracked</span>'.html_safe if parent.html.blank? %></td>
					</tr>

					<% node_set.children.each do |child| %>

						<tr>
							<td></td>
							<td></td>

							<% fly = child.scrapeable || Fly.deleted.find(child.scrapeable_id) %>
							<% set = child.node_set %>
							<% notice = child.notice %>

							<td class="<%= notice.status %>"><%= link_to fly.name, airline_fly_path(airline, fly) %></td>

							<td class="<%= notice.status %>"><%= link_to abbreviate(fly.website), fly.website %></td>

							<td class="<%= notice.status %>"><%= notice.status %></td>
							
							<td class="<%= notice.status %>">
								<%= notice.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:db) %>
							</td>
							<td class="<%= notice.status %>"><%= "Deleted record" if fly.deleted_at? %></td>
						</tr>

					<% end %>

					
				<% end %>
			</table>
		<% else %>
			<p>There are currently no notices to display</p>
		<% end %>
	</div>
</div>