<%= render "header" %>
<div class="container">
	<div class="col-xs-12">

		<h2>Untracked airlines (<%= @airlines.count %>)</h2>

		<% if @airlines.any? %>
			<table class="table">
				<thead>
					<tr>
						<th>Airline Profile</th>
						<th>Airline Website</th>
					</tr>
				</thead>
				<% @airlines.each do |airline| %>
					<tr>
						<td>
							<%= link_to airline.name, airline_path(airline) %>
						</td>
						<td>
							<% if airline.recruitment_overview_page.present? %>
								<%= link_to airline.recruitment_overview_page, airline.recruitment_overview_page %>
							<% else %>
								<%= airline.name %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>