<%= render "header" %>
<div class="container">
	<div class="col-xs-12">

		<h2>Airline (<%= @airlines.count %>)</h2>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Airline</th>
					<th>Opportunity</th>
					<th>Scraped Page</th>
				</tr>
			</thead>
			<% @airlines.each do |airline| %>
				<tr class="<%= airline.no_track? ? "danger" : "success" %>">
					<td>
						<%= link_to airline.name, airline_path(airline) %>
					</td>
					<td></td>
					<td><%= link_to(abbreviate(airline.recruitment_overview_page), airline.recruitment_overview_page) if airline.recruitment_overview_page.present? %></td>
				</tr>
				<% airline.flies.each do |fly| %>
				<tr class="<%= fly.no_track? ? "danger" : "success" %>">
					<td></td>
					<td><%= link_to fly.name, airline_fly_path(airline, fly) %></td>
					<td><%= link_to(abbreviate(fly.posting_website), fly.posting_website) if fly.posting_website.present? %></td>
				</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>