<div class="container">
	<div class="col-xs-12">
		<h2>User count: <%= @users.count %></h2>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Created at</th>
					<th>Updated at</th>
				</tr>
			</thead>
			<% @users.all.each do |u| %>
			<tr>
				<td><%= u.full_name %></td>
				<td><%= u.email %></td>
				<td><%= u.created_at.to_formatted_s(:short) %></td>
				<td><%= u.updated_at.to_formatted_s(:short) if u.updated_at.to_formatted_s(:short) != u.created_at.to_formatted_s(:short) %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>