<% if !user_signed_in? %>
	<div class="text-center">
		<div class="alert alert-signup-notice">
			<%= form_tag new_user_registration_path, method: :get, class: "form-inline email-form" do %>
				Get personalized job offers matching your flight hours and experience
				<%= text_field_tag "email", nil, class: "form-control email-field", placeholder: "E-Mail Address" %>
				<%= button_tag "Get started", name: nil, class: "btn btn-md btn-danger" %>
			<% end %>
		</div>
	</div>
<% elsif current_user.just_registered? && job_board_page?(params[:controller], params[:action]) %>
	<div class="text-center">
		<div class="alert alert-board-notice">
	  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
		  <span class="sr-only">Notice:</span>
		  For the most accurate matching, modify your <em>flight hours</em> in your <%= link_to "profile", edit_user_registration_path(current_user) %>.
	  </div>
	</div>
<% else %>
	<div class="text-center">
		<%= display_image("ac_logo.png", "jobs-table-ad-logo") %>
	</div>
<% end %>
