<section id="flight-time">
  <div class="container">
    <div class="col-xs-12">

      <h4>Flight Time</h4>

      <p>Please enter all times in <em>decimal hours</em> (ie. 5.5, rather than 5:30)</p>

      <table class="table table-bordered table-thick-border table-black-border standard-margin">
        <% FLIGHT_HOUR_TYPES.keys.in_groups_of(2) do |group| %>
          <% if group[1].blank? %>

            <% type = group[0] %>
            <tr>
              <%= render partial: "shared/flight_time/table_cell", locals: { f: f, args: { type: type, empty_cell: true } } %>
            </tr>
          <% else %>

            <tr>
              <% group.each do |type| %>
                <%= render partial: "shared/flight_time/table_cell", locals: { f: f, args: { type: type } } %>
              <% end %>
            </tr>

          <% end %>
        <% end %>
      </table>

      <h4>Ratings</h4>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= f.select :rating, RATINGS.values, {include_blank: true}, class: "form-control rating-select" %>
        </div>
      </div>

      <div class="flight-experience-checkbox">
        <% FLIGHT_EXPERIENCE.each do |key, value| %>
          <label class="block-label hidden" id="check_<%= key %>">
            <%= f.check_box key %> <%= value %>
          </label> 
        <% end %>
      </div> 
    </div>
  </div>
</section>