<table class="table table-bordered thick-border standard-margin">
	<tr>
		<td>
			<%= f.select :job_type, JOB_TYPE.values, {}, class: "selectpicker", "data-width" => "100%" %>
	    <%= f.label :job_type, class: "sr-only" %>
		</td>
		<td>
	    <%= f.text_field :posting_website, class: "form-control", placeholder: "Posting website" %>
	    <%= f.label :posting_website, class: "sr-only" %>
		</td>
	</tr>
</table>

<div class="checkbox standard-margin">
	<label>
  	<%= f.check_box :ongoing %><p>Ongoing</p>
  </label>
</div>

<h4>Name</h4>
<div class="form-group">
  <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  <%= f.label :name, class: "sr-only" %>
</div>

<h4>Content</h4>
<div id="wmd-button-bar-description-content"></div>
<%= render "shared/text_area", f: f, attribute: :content, args: { placeholder: "Content", field_class: "wmd-input form-control new-mission-teaser",
    field_id: "wmd-input-description-content" } %>

<h4>Location</h4>
<div class="form-group">
  <%= f.text_field :location, class: "form-control", placeholder: "Location" %>
  <%= f.label :location, class: "sr-only" %>
</div>

<h4>Pay</h4>
<div class="form-group">
  <%= f.text_field :pay, class: "form-control", placeholder: "Pay" %>
  <%= f.label :pay, class: "sr-only" %>
</div>