<table class="table table-bordered thick-border standard-margin">
	<tr>
		<td>
			<%= f.select :operation, OPERATIONS.values, {}, class: "selectpicker", "data-width" => "100%" %>
	    <%= f.label :operation, class: "sr-only" %>
		</td>
		<td>
			<%= f.select :position, POSITIONS.values, {}, class: "selectpicker", "data-width" => "100%" %>
	    <%= f.label :position, class: "sr-only" %>
		</td>
		<td>
    	<%= f.text_field :equipment, class: "form-control", placeholder: "Equipment" %>
    	<%= f.label :equipment, class: "sr-only" %>
	  </td>
	  <td>
    	<%= f.text_field :base, class: "form-control", placeholder: "Base" %>
    	<%= f.label :base, class: "sr-only" %>
	  </td>
		<!--<td>
	    <%= f.text_field :posting_expiry_as_string, class: "form-control", placeholder: "Expires" %>
	    <%= f.label :posting_expiry_as_string, class: "sr-only" %>
		</td>-->
		<td>
	    <%= f.text_field :website, class: "form-control", placeholder: "Website" %>
	    <%= f.label :website, class: "sr-only" %>
		</td>
	</tr>
</table>