<% if @airlines.present? %>
	<% @airlines.each_with_index do |airline, index| %>
		<tr id="airline-desc-<%= index %>" class="airline-desc<%= airline.flies.any? ? " job-active" : "" %>">
			<td class="col-xs-2<%= " strong-cell" if index == 0 %>"><div><%= display_image airline.logo, "jobs-table-logo" %></div></td>
			<td class="col-xs-6<%= " strong-cell" if index == 0 %>"><div><span class="airline-name"><%= airline.name %></span></div></td>
			<td class="col-xs-2<%= " strong-cell" if index == 0 %>">
					<%= airline.flies.any? ? "<strong class=\"text-green\">Open</strong>".html_safe : "<span class=\"text-red\">Closed</span>".html_safe %>
					<%= "<span class=\"admin\">&nbsp;</span>".html_safe if signed_in? && current_user.admin? %>
			</td>
			<td class="col-xs-2<%= " strong-cell" if index == 0 %>"><div><%= airline.flies.any? ? "#{time_ago_in_words(airline.flies.order(created_at: :desc).first.created_at)} ago" : "" %></div></td>
		</tr>
		<% if airline.flies.present? %>
			<% airline.flies.order(created_at: :desc).each_with_index do |fly, i| %>
				<tr id="job-desc-hidden-<%= "#{index}-#{i}" %>" class="job-desc hidden">
					<td class="col-xs-2 no-border"></td>
					<td class="col-xs-6 no-border"><%= "<strong>#{fly.name}</strong>".html_safe %>
						<%= "<br><span class=\"lead medium\"><span class=\"underline\">Requires</span>: #{fly.content}</span>".html_safe if fly.content.present? %>
						<%= "<br><span class=\"lead medium\"><span class=\"underline\">Location</span>: #{fly.location}</span>".html_safe if fly.location.present? %>
					</td>
					<td class="col-xs-2 no-border">
						<a href="<%= fly.posting_website %>" target="_blank" class="btn btn-primary btn-sm">Apply</a>
						<%= link_to("Edit", edit_airline_fly_path(fly.airline, fly), class: "btn btn-primary btn-sm") if signed_in? && current_user.admin? %>
					</td>
					<td class="col-xs-2 no-border"><%= "#{time_ago_in_words(fly.created_at)} ago" %></td>
				</tr>
			<% end %>
		<% end %>
		<% if signed_in? && current_user.admin? %>
			<tr class="job-desc hidden">
				<td class="no-border"></td>
				<td colspan="3" class="no-border"><%= link_to("Add Job", new_airline_fly_path(airline), class: "btn btn-primary btn-sm", target: "_blank") %></td>
			</tr>
			<% end %>
	<% end %>
<% else %>
	<tr>
		<td colspan="4">There are no jobs matching your criteria</td>
	</tr>
<% end %>