<% provide(:title, "Edit opportunity") %>
<div class="container">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<h1>Add an opportunity</h1>
	</div>
</div>
<%= form_for([@airline, @fly], url: airline_fly_path(@airline, @fly), :html => {role: "form"}) do |f| %>
  
  <div class="container">
  	<div class="col-xs-12 col-md-10 col-md-offset-1">
			
			<%= render "shared/basic_information", f: f %>

			<h4>Head Table</h4>
		  <%= render "shared/general_information", f: f %>

		</div>
	</div>

	<!--<div class="container">
  	<div class="col-xs-12 col-md-10 col-md-offset-1">
  		<h4>Content</h4>
			<div id="wmd-button-bar-description-content"></div>
			<%= render "shared/text_area", f: f, attribute: :content, args: { placeholder: "Content", field_class: "wmd-input form-control new-mission-teaser",
		      field_id: "wmd-input-description-content" } %>
    </div>
  </div>-->

  <div class="container standard-margin">
  	<div class="col-md-4 col-md-offset-1">

  		<h4>Automatic consistency monitoring</h4>

  		<%= render partial: "shared/text_field", 
	      locals: { 
	        f: f, 
	        attribute: :content_selector, 
	        args: {
	          placeholder: "Content selector"
	        } 
	      } %>

	    <div class="checkbox standard-margin">
      	<label>
        	<%= f.check_box :no_track %><p>Do not track</p>
        </label>
      </div>
  	</div>
  </div>

	<div class="container">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<%= f.submit "Edit opportunity", class: "btn btn-default btn-submit" %>
		</div>
	</div>
<% end %>