<% provide(:title, "#{@fly.name}") %>
<div class="container">
	<div class="col-xs-12">
		<h2>
			<%= display_image @fly.airline.logo, "airline-heading-logo" %><%= "#{@fly.name}" %> <small><%= "Posted #{time_ago_in_words(@fly.created_at)} ago" %></small>
			<%= link_to("Edit", edit_airline_fly_path(@fly.airline, @fly), class: "btn btn-default") if current_user.try(:admin?) %>
		</h2>

		<table class="table table-bordered thick-border standard-margin">
			<thead>
				<tr>
					<th>Operation</th>
					<th>Position</th>
					<th>Equipment</th>
					<th>Base</th>
					<th>Website</th>
				</tr>
			</thead>
			<tr>
				<td><%= @fly.operation %></td>
				<td><%= @fly.position %></td>
				<td><%= @fly.equipment %></td>
				<td><%= @fly.base %></td>
				<!--<td><%= @fly.posting_expiry_as_string ? @fly.posting_expiry_as_string : "When filled" %></td>-->
				<td><%= link_to abbreviate(@fly.website), @fly.website, target: "_blank" %></td>
			</tr>
		</table>

	</div>

	<div class="col-xs-12 col-md-6">
		<h3>Required rating</h3>
		<table class="table table-bordered standard-margin">
			<tr><td><%= @fly.rating.present? ? @fly.rating : "Not specified" %></td></tr>
		</table>

		<% if @fly.flight_experience.present? %>
			<div class="standard-margin" id="flight-experience">
				<% @fly.flight_experience.each do |key, value| %>
					<%= with_glyph(FLIGHT_EXPERIENCE[key.to_sym]) if value == "1" %>
				<% end %>
			</div>
		<% end %>
		
		<h3>Required flight time</h3>
		<% if @fly.flight_time_requirements.any? %>
			<table class="table table-bordered standard-margin">
				<% @fly.flight_time_requirements.each do |key, value| %>
					<tr>
						<td><%= FLIGHT_HOUR_TYPES[key.to_sym] %></td>
						<td><%= value %> hrs</td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<table class="table table-bordered standard-margin">
				<tr><td>As required by rating</td></tr>
			</table>
		<% end %>

		<% if @fly.type_ratings.any? %>
			<h3>Required type ratings</h3>

			<table class="table table-bordered standard-margin">
				<% @fly.fly_user_type_ratings.each do |tr| %>
					<tr>
						<td><%= "Current " if tr.current? %><%= tr.type_rating.designation %> <%= "(PIC)" if tr.pic? %> rating</td>
						<td><%= tr.time_in_type %> hrs in type</td>
					</tr>
				<% end %>
			</table>
		<% end %>

		<h3>Required medical license</h3>
		<table class="table table-bordered standard-margin">
			<tr><td><%= @fly.medical_license.present? ? @fly.medical_license : "As required by rating" %></td></tr>
		</table>

		<% if @fly.added_requirements.present? %>
			<h3>Other requirements</h3>
			<% @fly.added_requirements.each do |req| %>
				<%= with_glyph(req) %>
			<% end %>
		<% end %>

	</div>
</div>

<div class="container">
	<div class="col-xs-12">
		<div id="disqus_thread"></div>
	  <script type="text/javascript">
	      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	      var disqus_shortname = 'cockpitcareers'; // required: replace example with your forum shortname

	      /* * * DON'T EDIT BELOW THIS LINE * * */
	      (function() {
	          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	      })();
	  </script>
	  <noscript>
	  	Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	  </noscript>
	</div>
</div>