<% provide(:title, "#{@fly.name}") %>
<div class="container">
	<div class="col-xs-12">
		<h2 class="lighter">
			<%= image_tag @fly.airline.logo, class: "airline-heading-logo" %><%= "#{@fly.name}" %>
		</h2>

		<table class="table table-bordered table-thick-border standard-margin lighter">
			<thead>
				<tr>
					<th>Position</th>
					<th>Equipment</th>
					<th>Base</th>
					<th>Expires</th>
					<th>Website</th>
				</tr>
			</thead>
			<tr>
				<td><%= @fly.position %></td>
				<td><%= @fly.equipment %></td>
				<td><%= @fly.base %></td>
				<td><%= @fly.posting_expiry_as_string ? @fly.posting_expiry_as_string : "When filled" %></td>
				<td><%= link_to abbreviate(@fly.website), @fly.website, target: "_blank" %></td>
			</tr>
		</table>

		<%= @fly.intro.html_safe %>

		<%= @fly.content.html_safe %>
	</div>

	<div class="col-xs-12 col-md-6">
		<% if @fly.flight_time_requirements.any? %>
			<h3>Flight Time</h3>
			<table class="table table-bordered standard-margin lighter">
				<% @fly.flight_time_requirements.each do |key, value| %>
					<tr>
						<td><%= FLIGHT_HOUR_TYPES[key.to_sym] %></td>
						<td><%= value %> hrs</td>
					</tr>
				<% end %>
			</table>
		<% end %>

		<% @fly.rating_requirements.each do |type, value| %>
			<%= bool_field(type, value, RATINGS) %>
		<% end %>

		<% if @fly.medical_requirements.any? %>
			<h3>Medical Requirements</h3>

			<% @fly.medical.each do |type, value| %>
				<%= bool_field(type, value, MEDICAL_INFORMATION) %>
			<% end %>
		<% end %>

		<% if @fly.additional_requirements.any? %>
			<h3>Additional Requirements</h3>

			<% @fly.additional.each do |type, value| %>
				<%= bool_field(type, value, ADDITIONAL) %>
			<% end %>
		<% end %>

	</div>
</div>