<% provide(:title, "#{@fly.airline.name} - #{@fly.name}") %>
<div class="container">
	<div class="col-xs-12">
		<h2 class="lighter">
			<%= image_tag @fly.airline.logo, class: "fly-show-logo" %><%= "#{@fly.airline.name} - #{@fly.name}" %>
		</h2>

		<table class="table table-bordered table-thick-border standard-margin lighter">
			<thead>
				<tr>
					<th>Position</th>
					<th>Equipment</th>
					<th>Base</th>
					<th>Expires</th>
					<th>More Info</th>
				</tr>
			</thead>
			<tr>
				<td><%= @fly.position %></td>
				<td><%= @fly.equipment %></td>
				<td><%= @fly.base %></td>
				<td><%= @fly.expiration %></td>
				<td><%= link_to "Click here", @fly.website, target: "_blank" %></td>
			</tr>
		</table>

		<h3>Flight Time</h3>

		<table class="table table-bordered standard-margin lighter">
			<% @fly.flight_time.each do |key, value| %>
				<tr>
					<td><%= FLIGHT_HOUR_TYPES[key.to_sym] %></td>
					<td><%= value %></td>
				</tr>
			<% end %>
		</table>

		<table class="table table-bordered standard-margin lighter">
			<% @fly.rating.each do |key, value| %>
				<tr>
					<td><%= RATINGS[key.to_sym] %></td>
					<td><%= Fly.to_sb(value) %></td>
				</tr>
			<% end %>
		</table>

		<h3>Medical Requirements</h3>

		<table class="table table-bordered standard-margin lighter">
			<% @fly.medical.each do |key, value| %>
				<tr>
					<td><%= MEDICAL_INFORMATION[key.to_sym] %></td>
					<td><%= Fly.to_sb(value) %></td>
				</tr>
			<% end %>
		</table>

		<h3>Additional Requirements</h3>

		<table class="table table-bordered standard-margin lighter">
			<% @fly.additional.each do |key, value| %>
				<tr>
					<td><%= ADDITIONAL[key.to_sym] %></td>
					<td><%= Fly.to_sb(value) %></td>
				</tr>
			<% end %>
		</table>

	</div>
</div>