<div class="container">
  <div class="col-xs-12">
    <h2>Log in</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-md-4 col-xs-12">
      <%= content_tag :div, 
      class: ["form-group", ("has-error has-feedback" if resource.errors.full_messages_for(:email).any?)] do %>

        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        <% if resource.errors.full_messages_for(:email).any? %>
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span class="error-explanation">
            <%= resource.errors.full_messages_for(:email).first %>
          </span>
        <% end %>
      <% end %>

      <%= content_tag :div, 
      class: ["form-group", ("has-error has-feedback" if resource.errors.full_messages_for(:password).any?)] do %>

        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        <% if resource.errors.full_messages_for(:password).any? %>
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span class="error-explanation">
            <%= resource.errors.full_messages_for(:password).first %>
          </span>
        <% end %>
      <% end %>

      <div class="checkbox standard-margin">
        <label>
          <%= f.check_box :remember_me %><p>Remember me?</p>
        </label>
      </div>

      <%= f.submit "Log in", class: "btn btn-default standard-margin" %>
    </div>
  <% end %>
</div>