<% provide(:title, "Overview") %>
<!--<div class="alert alert-info" role="alert">
	<form class="form-inline" role="form">
	  <div class="form-group">
	  	Subscribe and be informed as soon as new opportunities become available:
	    <div class="input-group input-email">
	      <div class="input-group-addon">@</div>
	      <input class="form-control" type="email" placeholder="Enter email">
	    </div>
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>-->
<div class="container">
	<div class="col-xs-12">
		<table class="table lighter">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Airline</th>
					<th>Hiring Status</th>
					<th>Number of opportunities</th>
				</tr>
			</thead>
			<% Airline.all.each do |airline| %>
			<tr>
				<td><%= image_tag("boarding.gif", class: "boarding") if airline.has_active_recruitment? %></td>
				<td><%= image_tag airline.logo, class: "airline-table-logo" %></td>
				<td><%= link_to airline.name, airline_path(airline) %></td>
				<td><%= airline.has_active_recruitment? ? "Active" : "Inactive" %></td>
				<td><%= airline.flies.count %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>