<nav class="navbar<%= " navbar-landing" if display_landing_page? %> navbar-default">
  <div class="container-fluid">
    <div class="col-xs-12">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "flightcrew.io", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "JobBoard", root_path %></li>
            <li><%= link_to "Airlines", airlines_path %></li>
            <li><%= link_to "Jobs", jobs_path %></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Blog", blog_path %></li>
            <% if current_user.try(:admin?) %>
              <li><%= link_to "Admin Panel", admin_panel_home_path %></li>
            <% end %>
          </ul>
          <div class="navbar-right">
            <p class="navbar-text">
              Signed in as <%= link_to current_user.full_name, edit_user_registration_path, class: "navbar-link" %>
            </p>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-default btn-sm btn-navbar" %>
          </div>

        <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Mission", mission_path %></li>
            <li><%= link_to "Blog", blog_path %></li>
          </ul>
          <div class="navbar-right">
            <%= render "shared/social" %>
          </div>
        <% end %>
        
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>