<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<% if Rails.env.production? %>
		<%= render "layouts/google_analytics_snippet" %>
	<% end %>

	<%= render "layouts/header" %>

	<% unless no_flash?("#{params[:controller]}##{params[:action]}") %>
		<%= render "layouts/flash_messages" %>
	<% end %>
	<%= yield %>
	<%= render "layouts/footer" %>
</body>
</html>