<section id="general">
  <div class="container">
    <div class="col-xs-12">

      <h4>General</h4>

      <%= render partial: "users/registrations/general/devise_basics", locals: { f: f } %>

      <div class="row standard-margin">
        <div class="col-md-4 col-xs-12">
          <%= render partial: "shared/text_field", 
            locals: { 
              f: f, 
              method: :full_name, 
              args: {
                placeholder: "Full Name", 
                label_class: "control-label" 
              } 
            } %>
          </div>

          <div class="col-md-4 col-xs-12">
            <%= render partial: "shared/text_field", 
            locals: { 
              f: f, 
              method: :nationality, 
              args: {
                placeholder: "List all of your nationalities", 
                label_class: "control-label" 
              } 
            } %>
          </div>

          <div class="col-md-4 col-xs-12">
            <%= render partial: "shared/text_field", 
            locals: { 
              f: f, 
              method: :language, 
              args: {
                placeholder: "Spoken languages", 
                label_class: "control-label" 
              } 
            } %>
        </div>
      </div>

      <div class="row standard-margin">
        <div class="col-md-4 col-xs-12">
          <%= f.label :birthdate %>
          <%= f.date_select :birthdate, {}, class: "form-control" %>
        </div>
      </div>

      <div class="checkbox standard-margin">
        <label>
          <%= f.check_box :high_school_diploma %> I have a high school diploma
        </label>
      </div>

      <div class="checkbox">
        <label>
          <%= f.check_box :post_secondary_degree %> I have a post secondary degree
        </label>
      </div>
    </div>
  </div>
</section>