<% provide(:title, "Edit") %>

<div id="title">
  <div class="container">
    <div class="col-xs-12">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <p>Filling out all this information will allow us to accurately match you with a vast amount of pilot opportunities out there.</p>
    </div>
  </div>
</div>

<%= render partial: "shared/form_errors" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= render partial: "general", locals: { f: f } %>

  <%= render partial: "shared/flight_time", locals: { f: f } %>

  <%= render partial: "shared/medical", locals: { f: f } %>

  <%= render partial: "shared/additional", locals: { f: f } %>

  <div class="container">
    <div class="col-xs-12">
      <div class="row">
        <%= f.submit "Edit information", class: "btn btn-default standard-margin" %>
      </div>
      <div class="row">
        <%= button_to "Cancel my account", registration_path(resource_name), 
        data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default standard-margin" %>
      </div>
    </div>
  </div>

<% end %>