<% provide(:title, "Register") %>

<div id="title">
  <div class="container">
    <div class="col-xs-12">
      <h2>Sign up</h2>
    </div>
  </div>
</div>

<%= render partial: "shared/form_errors" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render partial: "general", locals: { f: f } %>

  <%= render partial: "shared/license", locals: { f: f } %>

  <%= render partial: "shared/medical", locals: { f: f } %>

  <%= render partial: "additional", locals: { f: f } %>

  <div class="container">
    <div class="col-xs-12">
      <%= f.submit "Sign up", class: "btn btn-default standard-margin btn-submit" %>
    </div>
  </div>

<% end %>